.modalFormProduct{
    position: fixed;
    background-color: rgba(117, 117, 117, 0.589);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 998;
    left: 0px;
    top: 80px;

}
.modalFormProduct form{
    width: 40%;
    min-height: 400px;
    
}
.modalFormProduct form h2{
    text-align: center;
}

.closeFormProduct{
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    padding: 10px;
    transition: 1s;
    border-radius: 4px;
}
.closeFormProduct:hover{
    background-color: red;
}
.priceProduct input{
    width: 150px;
}
