.authenticateHeader{
    width: 100%;
    min-height: 80px;
    background: #1c2b42;
    position:fixed;
    z-index: 999;
    top: 0px;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 5px;
    
}
.authenticateHeader img{
    width: 80px;
    background-color: white;
    border-radius: 100%;
    padding: 5px;
}

.IconNotification{
    position: absolute;
    z-index: 999;
    right: 80px;
    top: 18px;
    width: 50px;
    height: 50px;
    background-color: #1c2b42;
    border: none;
}
.IconNotification * {
    width: 30px;
    height: 30px; 
    color: white;
}
.IconNotification *:hover{
    color: yellow !important;
    background-color: #283e5e;
    border-radius: 50px;
}

.wrapperMenu{
    width: 50px;
    height: 50px;
    color: white;
    font-size: 20px;
    position: absolute;
    right: -50px;
    top: 15px;
}
.wrapperMenu svg{
    width: 50px;
    height: 50px;
}
.MenuList{
    width: 250px;
    height: 100vh;
    position: absolute;
    top: 80px;
}