.menuList{
    width: 250px;
    height: 55vh;
    position: absolute;
    background-color: #101927e0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    left: -190px;
    transition: 0.5s;
}
.openModal{
   left:0px !important; 

}
.menuList *{
    transition: 0.5s;
}
.menuList ul{
    height: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    list-style: none;

}
.menuList ul li{
    text-align: center;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.menuList ul li a{
    width: 100%;
    min-height: 50px;
    text-decoration: none; 
    font-weight: 600;   
    color: white;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;

}
.menuList ul li a:hover{
    background-color: #213350e0;
}
.menuList ul li a svg{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
}
.menu {
    width: 50px;
    height: 50px;
    background-color: #1019275e;
    position: absolute;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    top: 10px;
    right: 10px;
}
.menu:hover{
    background-color: #1019275e;
}
.menu span {
    width: 100%;
    height: 3px;
    background-color: #efece3;
    transition: 0.3s;
}
.isOpen{
    right: 10px;
}

.isOpen span:nth-of-type(1) {
    transform: rotate(45deg) translate(7px, 7px);
    position: absolute;
    top: 11px;
}

.isOpen span:nth-of-type(2) {
    opacity: 0;
}

.isOpen span:nth-of-type(3) {
    position: absolute;
    top: 30px;
    transform: rotate(-45deg) translate(7px, -7px);
}

